/* Variables */
:root {
  --primary-color: #3A3153;
  --secondary-color: #5F43B2;
  --link-color: #d8b4ff;
  --text-color: #fff;
  --scrollbar-color: #000;
  --background-color: #1a1a1a;
}

/* Estilos generales */
body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

a {
  color: var(--link-color);
}

/* WebKit Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-color);
}

/* Estilos específicos */
.body-container {
  padding-top: 5rem;
}

.title {
  margin-top: 0;
}

.half2-container {
  padding-top: 5rem;
  margin-left: 5rem;
}

.container {
  width: 10%;
  margin: 0 auto;
  float: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes expandLine {
  100% {
    width: 90%;
  }
}

.donut-animation {
  display: none;
}

.section-container {
  min-height: 100vh;
}

.button-smaller {
  background-color: var(--primary-color);
  font-family: 'Playfair Display', serif;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
}

.button-smaller:hover {
  background-color: var(--secondary-color);
}

.button-smaller:not(:first-child) {
  margin-left: 20px;
}

.social-container {
  position: fixed;
  bottom: 10vh;
}

.text-alchemist {
  width: 50%;
}

.aboutme-text {
  width: 40%;
}

.first-part {
  display: flex; 
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 6rem;
  padding-right: 6rem;
}

.half-1 {
  width: 50%; 
  top: 0;
  left: 10%;
  right: 0;
  position: sticky;
  max-height: 100vh;
}

.half-2 {
  width: 50%;
  overflow-y: auto;
  padding-bottom: 5%;
}

.space-between  {
  margin-top: 40%;
}

.project-card {
  max-width: 80%;
  margin-left: 4rem;
}

.text-project-card {
  position: relative;
  padding: 24px;
  transition: background-color 0.5s ease;
  border-radius: 5px;
}

.text-project-card:hover {
  background-color: var(--primary-color);
}

.text-project-card h3 span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.text-project-card:hover h3 span {
  transform: translate(2px, -2px);
}

.no-style {
  text-decoration: none;
  color: inherit;
}

.final-text {
  margin-left: 4rem;
  max-width: 70%;
  padding-top: 2rem;
}

.display-text {
  display: none;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .first-part {
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    padding: 0;
  }

  .half-1,
  .half-2 {
    width: 95%;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    left: 0%;
  }

  .text-alchemist {
    width: 20rem;
  }

  .half2-container {
    margin-top: 0rem;
    margin-left: 0;
  }

  .project-card {
    max-width: 100%;
    margin: 0;
  }

  .centered-text {
    text-align: center;
  }

  .final-text {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 10%;
    padding: 24px;
  }

  .social-container {
    align-self: flex-start;
    display: flex;
    position: static;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .display-text {
    display: block;
  }
}
